NODE_ENV=development
PORT=4001

DB_HOST=localhost
DB_USER=gglenndapp
DB_PASSWORD=supersecret
DB_NAME=gglenndapp
DB_PORT=5432

DATABASE_URL=postgresql://gglenndapp:supersecret@localhost:5432/gglenndapp

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000/auth